<div id="wrapper">
  <%= render 'admin/shared/header' %>
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <%= render '/admin/shared/navbar' %>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>取引先一覧</h2>
        <ol class="breadcrumb">
          <li>
            <a href="/admin">Home</a>
          </li>
          <li>
            <%= link_to @company.name, admin_companies_path %>
          </li>
          <li class="active">
            <strong>取引先一覧</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align: right;">
              <%= link_to "新規登録", new_admin_company_client_path(@company), class: 'btn btn-primary' %>
            </div>
            <div class="ibox-content">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>取引先</th>
                    <th>住所</th>
                    <th>電話番号</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @clients.each do |client| %>
                    <tr>
                      <td><%= client.id %></td>
                      <td><%= client.name %></td>
                      <td><%= client.address %></td>
                      <td><%= client.phone %></td>
                      <td>
                        <%= link_to '修正', edit_admin_company_client_path(@company,client), class: 'btn btn-primary btn-sm' %>
                        <%= link_to '削除', admin_company_client_path(@company,client), class: 'btn btn-danger btn-sm', data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %>
                        <%= link_to admin_company_client_projects_path(@company,client), class: 'btn btn-info btn-sm' do %>
                          <i class="fa fa-building-o"></i> 案件
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @clients, theme: 'admin' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper-content">
      <%= render 'admin/shared/footer' %>
    </div>
  </div>
</div>
