<% provide(:title, "ダッシュボード") %>
<div id="wrapper">
  <%= render 'shared/header' %>
  <div id="page-wrapper" class="gray-bg">
    <%= render 'shared/navbar' %>
    <!-- ヘッダー部分 -->
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
        <h2 class="m-t-md">
          <i class="fa fa-th-large text-navy"></i> ダッシュボード
        </h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            <strong>ダッシュボード</strong>
          </li>
        </ol>
      </div>
    </div>
    
    <!-- メインコンテンツ -->
    <div class="wrapper wrapper-content animated fadeInRight">
      
      <!-- 今月の残業時間状況 -->
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><i class="fa fa-clock-o"></i> 今月の残業時間状況</h5>
              <span class="label label-warning pull-right">2024年1月</span>
            </div>
            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th width="200">氏名</th>
                      <th width="100">部署</th>
                      <th>残業時間</th>
                      <th width="100" class="text-center">状態</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @users.each do |user| %>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <% if user.avatar.attached? %>
                          <%= image_tag user.avatar, class: "img-circle", style: "width: 32px; height: 32px; margin-right: 10px;", alt: user.name %>
                          <% else %>
                          <%= image_tag "https://via.placeholder.com/200x200/f8f8f9/676a6c?text=No+Image", class: "img-circle", style: "width: 32px; height: 32px; margin-right: 10px;", alt: user.name %>
                          <% end %>
                          <strong><%= user.name %></strong>
                        </div>
                      </td>
                      <td><%= user.department_name %></td>
                      <td>
                        <div>
                          <span class="pull-right text-danger font-bold"><%= number_with_precision(user.total_hours, precision: 1) %>h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 100%;" class="progress-bar progress-bar-danger">
                              <span class="sr-only">100% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-danger">上限到達</span>
                      </td>
                    </tr>
                    <% end %>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>山田 太郎</strong>
                        </div>
                      </td>
                      <td>開発部</td>
                      <td>
                        <div>
                          <span class="pull-right text-danger font-bold">45h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 100%;" class="progress-bar progress-bar-danger">
                              <span class="sr-only">100% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-danger">上限到達</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>佐藤 花子</strong>
                        </div>
                      </td>
                      <td>企画部</td>
                      <td>
                        <div>
                          <span class="pull-right text-warning font-bold">38h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 84%;" class="progress-bar progress-bar-warning">
                              <span class="sr-only">84% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-warning">要注意</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>鈴木 一郎</strong>
                        </div>
                      </td>
                      <td>営業部</td>
                      <td>
                        <div>
                          <span class="pull-right text-warning font-bold">35h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 78%;" class="progress-bar progress-bar-warning">
                              <span class="sr-only">78% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-warning">要注意</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>田中 次郎</strong>
                        </div>
                      </td>
                      <td>開発部</td>
                      <td>
                        <div>
                          <span class="pull-right font-bold">28h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 62%;" class="progress-bar progress-bar-info">
                              <span class="sr-only">62% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-info">標準</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>高橋 美咲</strong>
                        </div>
                      </td>
                      <td>デザイン部</td>
                      <td>
                        <div>
                          <span class="pull-right font-bold">22h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 49%;" class="progress-bar progress-bar-info">
                              <span class="sr-only">49% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-info">標準</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>伊藤 美穂</strong>
                        </div>
                      </td>
                      <td>マーケティング部</td>
                      <td>
                        <div>
                          <span class="pull-right font-bold">18h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 40%;" class="progress-bar progress-bar-info">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-info">標準</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>渡辺 健</strong>
                        </div>
                      </td>
                      <td>管理部</td>
                      <td>
                        <div>
                          <span class="pull-right font-bold">15h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 33%;" class="progress-bar progress-bar-success">
                              <span class="sr-only">33% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-success">余裕あり</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>中村 健太</strong>
                        </div>
                      </td>
                      <td>開発部</td>
                      <td>
                        <div>
                          <span class="pull-right font-bold">12h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 27%;" class="progress-bar progress-bar-success">
                              <span class="sr-only">27% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-success">余裕あり</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>木村 さくら</strong>
                        </div>
                      </td>
                      <td>人事部</td>
                      <td>
                        <div>
                          <span class="pull-right font-bold">8h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 18%;" class="progress-bar progress-bar-success">
                              <span class="sr-only">18% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-success">余裕あり</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img alt="image" class="img-circle" src="https://via.placeholder.com/32" style="width: 32px; height: 32px; margin-right: 10px;">
                          <strong>林 大輔</strong>
                        </div>
                      </td>
                      <td>営業部</td>
                      <td>
                        <div>
                          <span class="pull-right font-bold">5h / 45h</span>
                          <div class="progress m-t-xs">
                            <div style="width: 11%;" class="progress-bar progress-bar-success">
                              <span class="sr-only">11% Complete</span>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="label label-success">余裕あり</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <!-- 凡例 -->
              <div class="m-t-md">
                <small class="text-muted">
                  <span class="label label-danger">上限到達</span> 45時間以上
                  <span class="label label-warning m-l-xs">要注意</span> 36時間以上（80%）
                  <span class="label label-info m-l-xs">標準</span> 18〜35時間
                  <span class="label label-success m-l-xs">余裕あり</span> 18時間未満
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <%= render 'shared/footer' %>
  </div>
</div>

<script>
$(document).ready(function() {
    // プログレスバーアニメーション
    $('.progress-bar').each(function() {
        var $this = $(this);
        var width = $this.css('width');
        $this.css('width', 0);
        $this.animate({
            width: width
        }, 1000);
    });
});
</script>
