<div id="wrapper">
  <%= render 'admin/shared/header' %>
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <%= render '/admin/shared/navbar' %>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>会社一覧</h2>
        <ol class="breadcrumb">
          <li>
            <a href="/admin">Home</a>
          </li>
          <li class="active">
            <strong>会社一覧</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align: right;">
              <a href="/admin/companies/new" class="btn btn-primary">新規登録</a>
            </div>
            <div class="ibox-content">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>会社名</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @companies.each do |company| %>
                    <tr>
                      <td><%= company.id %></td>
                      <td><%= company.name %></td>
                      <td>
                        <%= link_to '修正', edit_admin_company_path(company), class: 'btn btn-primary btn-sm' %>
                        <%= link_to admin_company_departments_path(company), class: 'btn btn-info btn-sm' do %>
                          <i class="fa fa-building-o"></i> 部署
                        <% end %>
                        <%= link_to admin_company_users_path(company), class: 'btn btn-warning btn-sm' do %>
                          <i class="fa fa-user"></i> メンバー
                        <% end %>
                        <%= link_to admin_company_clients_path(company), class: 'btn btn-success btn-sm' do %>
                          <i class="fa fa-handshake-o"></i> 取引先
                        <% end %>
                        <%= link_to admin_company_task_types_path(company), class: 'btn btn-default btn-sm' do %>
                          <i class="fa fa-edit"></i> 作業区分
                        <% end %>
                        <%= link_to admin_company_project_types_path(company), class: 'btn btn-default btn-sm' do %>
                          <i class="fa fa-edit"></i> 案件区分
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @companies, theme: 'admin' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper-content">
      <%= render 'admin/shared/footer' %>
    </div>
  </div>
</div>
