<div id="wrapper">
  <%= render 'admin/shared/header' %>
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <%= render '/admin/shared/navbar' %>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>案件一覧</h2>
        <ol class="breadcrumb">
          <li>
            <a href="/admin">Home</a>
          </li>
          <li>
            <%= link_to @company.name, admin_companies_path %>
          </li>
          <li>
            <%= link_to @client.name, admin_company_clients_path(@company) %>
          </li>
          <li class="active">
            <strong>案件一覧</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align: right;">
              <%= link_to "案件登録", new_admin_company_client_project_path(@company, @client), class: 'btn btn-primary btn-sm' %>
            </div>
            <div class="ibox-content">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>取引先</th>
                    <th>案件名</th>
                    <th>売上</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @projects.each do |project| %>
                    <tr>
                      <td><%= project.id %></td>
                      <td><%= @client.name %></td>
                      <td><%= project.name %></td>
                      <td><%= number_to_currency(project.sales) %></td>
                      <td>
                        <%= link_to '修正', edit_admin_company_client_project_path(@company, @client, project), class: 'btn btn-primary btn-sm' %>
                        <%= link_to '削除', admin_company_client_project_path(@company, @client, project), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: '削除しますか？' } %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @projects, theme: 'admin' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper-content">
      <%= render 'admin/shared/footer' %>
    </div>
  </div>
</div>
