<div id="wrapper">
  <%= render '/admin/shared/header' %>
  <div id="page-wrapper" class="gray-bg dashbard-1">
    <%= render '/admin/shared/navbar' %>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>新規登録</h2>
        <ol class="breadcrumb">
          <li>
            <a href="/admin">ダッシュボード</a>
          </li>
          <li>
            <%= link_to @company.name, admin_companies_path %>
          </li>
          <li>
            <%= link_to '作業区分一覧', admin_company_task_types_path(@company) %>
          </li>
          <li>
            <strong>新規登録</strong>
          </li>
        </ol>
      </div>
    </div>

    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="ibox float-e-margins">
            <div class="ibox-content">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
      <%= render '/admin/shared/footer' %>
    </div>
  </div>
</div>
