<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= get_title yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="shortcut icon" href="/favicon.ico">

    <link href="/main/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="/main/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="/main/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/main/css/animate.css" rel="stylesheet">
    <link href="/main/css/style.css?2" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="/main/js/jquery-2.1.1.js"></script>
    <script src="/main/js/bootstrap.min.js"></script>
    <script src="/main/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/main/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="/main/js/plugins/flot/jquery.flot.js"></script>
    <script src="/main/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/main/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="/main/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/main/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="/main/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/main/js/inspinia.js"></script>
    <script src="/main/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="/main/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="/main/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- SUMMERNOTE -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="/main/js/summernote-cleaner.js"></script>

    <!-- ChartJS-->
    <script src="/main/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    <script src="/main/js/plugins/toastr/toastr.min.js"></script>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :header %>
  </head>

  <body class="<%= 'gray-bg' if active_flag('admin/sessions') %>">
    <%= yield %>
    <%= yield :footer %>
    <script>
    <% flash.each do |type, message| %>
    <% if type == "success" || type == "error" %>
    $(document).ready(function() {
      setTimeout(function() {
        toastr.options = {
          closeButton: true,
          progressBar: true,
          showMethod: 'slideDown',
          timeOut: 3000
        };
        toastr.<%= type %>('<%= message %>');
      }, 1300);
    });
    <% end %>
    <% end %>
    </script>
  </body>
</html>